tensorflow==2.8.0
tensorflow-addons==0.16.1
open3d
easydict
h5py
ipython
matplotlib
networkx
psutil
scikit-learn
scipy
tqdm
trimesh
pyvista
pydot
graphviz
opencv-python
gunicorn==20.1.0
Flask
Flask-Cors
setuptools==60.2.0
y-py==0.6.0
pyngrok
flask_cors
pymongo
python-dotenv
bcrypt