.from-contact{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.from-contact > input{height: 2vh;}

.from-contact > input,.from-contact > textarea{
    width: 70%;
    padding: 1.5rem;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #676666;
    resize: none;
    color: #000;
}

.from-contact > input:hover,.from-contact > textarea:hover{
    border: 1px solid #ff9800;
}

.btn-contact{
    display: block;
    width: 50%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: #fff;
    cursor: pointer;
}

.btn-contact:hover{
    background-color: var(--color-info-dark);
}

.scene{
    width: 30%;
    height: 70%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

canvas{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}